## Pottest 2 Kecerdasan Buatan
*Maulana Muhammad Hafidz*
*(2109106070)*

### Import

In [1]:
import pandas as pd

### Membaca dataset

In [2]:
df = pd.read_csv("googleplaystore.csv")

### 1. Menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [3]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

### 2. Menampilkan 10 record pertama dari dataset dengan attribute bertipe angka.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [5]:
df.Rating.head(10)

0    4.1
1    3.9
2    4.7
3    4.5
4    4.3
5    4.4
6    3.8
7    4.1
8    4.4
9    4.7
Name: Rating, dtype: float64

### 3.Menampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [6]:
# Menghitung jumlah record dan jumlah attribute
jumlah_record = len(df)
jumlah_attribute = len(df.columns)

# Mendapatkan nama attribute
nama_attribute = list(df.columns)

# Menghitung jumlah attribute dengan tipe angka
jumlah_attribute_angka = len(df.select_dtypes(include=['int64', 'float64']).columns)

# Membuat dictionary dengan informasi yang dikumpulkan
informasi_dict = {
    "Jumlah Record": jumlah_record,
    "Jumlah Attribute": jumlah_attribute,
    "Nama Attribute": nama_attribute,
    "Jumlah Attribute dengan Tipe Angka": jumlah_attribute_angka
}

# Menampilkan isi dari dictionary
for key, value in informasi_dict.items():
    print(f"{key}: {value}")

Jumlah Record: 10841
Jumlah Attribute: 13
Nama Attribute: ['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type', 'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver', 'Android Ver']
Jumlah Attribute dengan Tipe Angka: 1

### 4.Menampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.

In [7]:
# Metode iloc
df.iloc[-70:, 3:]

,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10771,17,2.4M,"1,000+",Free,0,Everyone,Productivity,"April 23, 2017",1.1,4.0 and up
10772,0,3.9M,100+,Free,0,Everyone,Business,"February 16, 2018",1.1.3,5.0 and up
10773,0,8.9M,10+,Free,0,Everyone,Lifestyle,"July 31, 2018",7.2.2,4.1 and up
10774,0,36M,10+,Free,0,Everyone,News & Magazines,"April 5, 2018",3.8,4.4 and up
10775,1,9.0M,1+,Free,0,Everyone,Sports,"May 29, 2018",1.0,5.0 and up
...,...,...,...,...,...,...,...,...,...,...
10836,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [8]:
# Metode loc
df.loc[70:, df.columns[3]:]

,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
70,116986,35M,"5,000,000+",Free,0,Everyone,Auto & Vehicles,"August 2, 2018",1.9.7,4.0.3 and up
71,1379,16M,"500,000+",Free,0,Everyone,Auto & Vehicles,"August 2, 2018",2.2.21,4.2 and up
72,271920,16M,"10,000,000+",Free,0,Teen,Auto & Vehicles,"July 11, 2018",Varies with device,5.0 and up
73,736,Varies with device,"100,000+",Free,0,Everyone,Auto & Vehicles,"July 29, 2018",2.9,2.3.3 and up
74,7021,17M,"500,000+",Free,0,Everyone,Auto & Vehicles,"July 27, 2018",1.79,4.0 and up
...,...,...,...,...,...,...,...,...,...,...
10836,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

### 5. Menampilkan jumlah nilai dari semua attribute yang bernilai object

In [9]:
object_columns = df.select_dtypes(include=['object'])

jumlah_label = object_columns.nunique()

object_columns.nunique()

App               9660
Category            34
Reviews           6002
Size               462
Installs            22
Type                 3
Price               93
Content Rating       6
Genres             120
Last Updated      1378
Current Ver       2832
Android Ver         33
dtype: int64